<section class="col-12 d-flex flex-wrap">

    <header class="col-12 d-flex flex-wrap justify-content-between align-items-center">
        <h1 class="mb-0">done tasks: </h1>
    </header>


    <main class="col-12 d-flex flex-wrap mt-4">
        @for (task of doneTasks; track $index) {
            <article class="col-12 col-sm-4 p-3">
                <task-card [task]="task" (deleteEmitter)="deleteTask(task._id, $index)" (doneEmitter)="doneTask(task)" (editEmitter)="editTask(task)"></task-card>
            </article>
        }
    </main>

</section>